.idea/
.settings/
.gradle/
nbproject/
*.log
*.iml
.classpath
.project
nb-configuration.xml
nbactions.xml
effective.pom
dependency-reduced-*
pom.xml.versionsBackup
target/
bin/
build/
out/
build-cache/
rebel.xml